@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans';
}

main{
    display: grid;
    grid-template-columns: 1fr 1.5fr;    
}

.london{
    opacity: 0.4;
}

input{
    padding:10px 20px;
    border-radius: 5px;
    background-color: #eeeeee;
    border:0px;
    width: 200px;
    display:block;
    margin:10px 30px;
    font-family: 'Open Sans';
}

button{
    background-color: #2d5590;
    color:white;
    padding:10px;
    border-radius: 5px;
    border:0px;
    width: 200px;
    display:block;
    margin:30px;
    font-family: 'Open Sans';
}

button:hover{
    background-color: #3f70bb;
    cursor:pointer;
}

h1{
    color: #2d5590;
    font-size: 3em;
}

.bold{
    font-weight: bold;
}

.text{
    margin:30px;
}

p{
    margin:0px;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
input:focus {
    border-color: #000;
}

img{
    width:100%;
    margin:0 30px 0 0;
}